<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <!--<add name="CMSConnectionString" connectionString="Persist Security Info=False;database=upgrade_revolutiongolf_2014;server=BM-VPC-CA-DEVSQL01;user id=revolutiongolf_usr;password=nhk8tQY4P3zbx4n;Current Language=English;Connection Timeout=60;" />-->
    <add name="CMSConnectionString" connectionString="Persist Security Info=False;database=integration_revolutiongolf_2014;server=WINDOWS8;user id=revolutiongolf_usr;password=nhk8tQY4P3zbx4n999;Current Language=English;Connection Timeout=60;"/>

  </connectionStrings>
  <appSettings>
    <add key="username" value="TMCGINN5353" />
    <add key="password" value="1X1T54HBRG3"/>
    <add key="merchantid" value="239877"/>
    <add key="recurringmerchantid" value="239880"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentechGateway">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.paymentech.net/PaymentechGateway"
                binding="basicHttpBinding" bindingConfiguration="PaymentechGateway"
                contract="PaymentechServiceReference.PaymentechGatewayPortType"
                name="PaymentechGateway" />
        </client>
    </system.serviceModel>

</configuration>