<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <!--<add name="CMSConnectionString" connectionString="Persist Security Info=False;database=upgrade_revolutiongolf_2014;server=BM-VPC-CA-DEVSQL01;user id=revolutiongolf_usr;password=nhk8tQY4P3zbx4n;Current Language=English;Connection Timeout=60;" />-->
    <add name="CMSConnectionString" connectionString="Persist Security Info=False;database=integration_revolutiongolf_2014;server=WINDOWS8;user id=revolutiongolf_usr;password=nhk8tQY4P3zbx4n999;Current Language=English;Connection Timeout=60;"/>

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentechGateway">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentechGateway1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.paymentech.net/PaymentechGateway"
        binding="basicHttpBinding" bindingConfiguration="PaymentechGateway"
        contract="PaymentechGateway.PaymentechGatewayPortType" name="PaymentechGateway" />
    </client>
  </system.serviceModel>
</configuration>